.page-title{
    text-align:center;
}

ul{
    list-style:none;
}

.title-group{
    float:left;
    width:669px;
}

.question-title a{
    color:#259;
    font-weight:900;
}

.title-info{
    text-align:right;
}

.title-info .question-author{
    margin-right:20px;
}

.form-container{
    width:300px;
    margin:0 auto;
    text-align:right;
}