{% extends 'head.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/friend.css') }}">
{% endblock %}

{% block search %}{% endblock %}

{% block main %}
    {% if users[session['phone']][4][0] != [] %}
        <h3 class="page-title">好友申请</h3>
        <table class="table">
            <thead>
                <th>用户名</th>
                <th width="100px">选项</th>
            </thead>
            <tbody>
                {% for i in users[session['phone']][4][0] %}
                    <tr>
                        <td>{{ users[i][0] }}</td>
                        <td>
                            <a href="{{ url_for('friendchange',nature=1,agreement=1,content=users[i][0]) }}">同意</a>
                            <a href="{{ url_for('friendchange',nature=1,agreement=0,content=users[i][0]) }}">拒绝</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if users[session['phone']][4][1] != [] %}
        <h3 class="page-title">问答邀请</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>问答标题</th>
                    <th width="100px">选项</th>
                </tr>
            </thead>
            <tbody>
                {% for i in users[session['phone']][4][1] %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>
                            <a href="{{ url_for('friendchange',nature=0,agreement=1,content=i) }}">同意</a>
                            <a href="{{ url_for('friendchange',nature=0,agreement=0,content=i) }}">拒绝</a>
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if users[session['phone']][4][2] != [] %}
        <h3 class="page-title">好友列表</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>用户名</th>
                    <th width="100px">选项</th>
                </tr>
            </thead>
            <tbody>
            {% for i in users[session['phone']][4][2] %}
                <tr>
                    <td><a href="{{ url_for('user',username = users[i][0]) }}">{{ users[i][0] }}</a></td>
                    <td><a href="{{ url_for('delete_fri',username = users[i][0]) }}">删除好友</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}