{% extends 'head.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/search.css') }}">
{% endblock %}

{% block search %}{% endblock %}

{% block main %}
    {% if lis[0] != [] %}
        <h3 class="page-title">查找到的用户</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>用户名</th>
                        <th width="100px">申请好友选项</th>
                    </tr>
                </thead>
                {% for i in lis[0] %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>
                            <form method="post">
                                <button class="btn btn-primary" value="{{ i }}" name="invitation">请求加为好友</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    {% if lis[1] != [] %}
        <h3 class="page-title">查找到的问答</h3>
        <hr>
        {% for i in lis[1] %}
            <ul>
                <li>
                    <div class="title-group">
                        <p class="question-title"><a href="{{ url_for('answer',question = i) }}">{{ i }}</a></p>
                        <p class="question-content">{{ questions[i][0] }}</p>
                    </div>
                    <div class="title-info">
                        <a href="{{ url_for('user',username = questions[i][1]) }}" class="question-author">{{ questions[i][1] }}</a>
                        <span class="question-time">{{ questions[i][2] }}</span>
                    </div>
                </li>
            </ul>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}